<% include public/partials/header %>

		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Lịch diễn</h3>
					</div>
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						<table class="table table-bordered table-responsive table-dark col-md-6">
							<thead class="thead-dark">
							<tr>
								<th class="text-center" scope="col">Vở diễn</th>
								<th class="text-center" scope="col">Ngày</th>
								<th class="text-center" scope="col">Suất chiếu</th>
								<th class="text-center" scope="col"></th>
							</tr>
							</thead>
							<tbody>
								<% showtimes.forEach(showtime => { %>
									<tr>
										<td><%=showtime.dramatics.name%></td>
										<td><%=new Date(showtime.date).toLocaleDateString()%></td>
										<td><%=showtime.time%></td>
										<td>
											<a class="btn btn-primary btn-outline" href="/performance/<%=showtime.dramatics.id%>">Chi tiết</a>
											<a class="btn btn-primary btn-outline" href="/booking/<%=showtime.id%>">Mua vé ngay <i class="icon-arrow-right22"></i></a>
										</td>
									</tr>
								<%});%>
							</tbody>
						</table>
					</div>
				</div>
				</div>
				</div>


			</div>
		</div>

<% include public/partials/footer %>
